<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
</head>
<body>

<h1 align="center">欢迎光临阴曹地府管理系统</h1>
<div sec:authorize="!isAuthenticated()">
    <h2 align="center">您好，如果想进入阴曹地府 <a th:href="@{/userlogin}">请登录</a></h2>
</div>
<div sec:authorize="isAuthenticated()">
    <h2><span sec:authentication="name"></span>，您好,您的角色有：
        <span sec:authentication="principal.authorities"></span></h2>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="注销"/>
    </form>
</div>

<hr>

<div sec:authorize="hasRole('VIP1')">
    <h3>最高神职</h3>
    <ul>
        <li><a th:href="@{/level1/1}">天齐仁圣大帝</a></li>
        <li><a th:href="@{/level1/2}">北阴酆都大帝</a></li>
        <li><a th:href="@{/level1/3}">五方鬼帝</a></li>
    </ul>

</div>

<div sec:authorize="hasRole('VIP2')">
    <h3>罗酆六天</h3>
    <ul>
        <li><a th:href="@{/level2/1}">宗灵七非天宫、敢司连宛屡天宫</a></li>
        <li><a th:href="@{/level2/2}">纣绝阴天宫、泰煞谅事宗天宫</a></li>
        <li><a th:href="@{/level2/3}">明晨耐犯武城天宫、恬昭罪气天宫</a></li>
    </ul>

</div>

<div sec:authorize="hasRole('VIP3')">
    <h3>阴曹地府</h3>
    <ul>
        <li><a th:href="@{/level3/1}">秦广王、楚江王、宋帝王、仵官王</a></li>
        <li><a th:href="@{/level3/2}">阎罗王、平等王、泰山王</a></li>
        <li><a th:href="@{/level3/3}">都市王、卞城王、转轮王</a></li>
    </ul>
</div>


</body>
</html>